<h2 mat-dialog-title>Add new artcile</h2>
<mat-dialog-content>
  <form [formGroup]="newArticleForm" (ngSubmit)="onSubmit(newArticleForm.value)">
    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>Topic</mat-label>
        <mat-select formControlName="topic">
          <mat-option *ngFor="let topic of topics" [value]="topic">
            {{topic}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>Image URL</mat-label>
        <input matInput formControlName="image">
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>Title</mat-label>
        <input matInput formControlName="title">
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>Short desription</mat-label>
        <textarea matInput formControlName="desc"></textarea>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>Full text</mat-label>
        <textarea matInput formControlName="text"></textarea>
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary" type="submit" [disabled]="!newArticleForm.valid" data-dismiss="modal" mat-dialog-close>Submit</button>
    <button mat-raised-button color="warn" mat-dialog-close>Close</button>
  </form>
</mat-dialog-content>