:host {
  background-color: rgb(225, 228, 212);
  width: 100%;
}

.button {
  position: absolute;
  top: 0;
  left: 60;
  margin: 10px 30px;
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

mat-card {
  width: 70%;
  background-color: rgb(238, 235, 235);
}

img{ 
  opacity:0.5;
  filter: alpha(opacity=0) rgb(255, 255, 255);
  width: 100%;
}

.image {
	position: relative;
  height: 300px;
  overflow: hidden;
  margin-bottom: 30px;
}

h2 {
	position: absolute;
	top	: 250px;
	left	: 0;
	width	: 100%;
  font-size: 4vw;
}

.article-text-block {
  display: flex;
  justify-content: center;
}

.article-text {
  font-size: 18px;
  text-align: left;
  line-height: 1.2em;
}